<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>

  <body class="container-fluid">
    <header>
      <% include partials/header %>
    </header>

    <main>
      <div>
        <h2>Signup</h2>

        <form method="post" action="/signup">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" id="name">
          </div>

              <div class="form-group">
              <label for="user_url">Picture</label>
              <input type="file" id="file_input"/>
              <p id="status">Please select a file</p>
              <img style="border:1px solid gray;width:225px;"  id="preview" src="">
              <input type="hidden" id="user_url" name="user_url" value="../images/default.png">
            </div>

        <!-- <form method="post" action="/signup">
          <div class="form-group">
            <label for="gender">Gender</label>
            <input class="form-control" type="text" name="gender" id="gender">
          </div> -->


          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email" id="email">
          </div>

          <div class="form-group">
            <label for="email">Password</label>
            <input class="form-control" type="password" name="password" id="password">
          </div>

          <input class="btn btn-default" type="submit">
        </form>
      </div>
    </main>
  <script type="text/javascript">

/*
    Function to carry out the actual PUT request to S3 using the signed request from the app.
*/
function upload_file(file, signed_request, url){
  console.log(file)
  var xhr = new XMLHttpRequest();
  xhr.open("PUT", signed_request);
  xhr.setRequestHeader('x-amz-acl', 'public-read');
  xhr.onload = function() {
    if (xhr.status === 200) {
        document.getElementById("preview").src = url;
        document.getElementById("user_url").value = url;
    }
  };
  xhr.onerror = function() {
    console.log("in error")
    alert("Could not upload file.");
  };
  xhr.send(file);
}
/*
    Function to get the temporary signed request from the app.
    If request successful, continue to upload the file using this signed
    request.
*/
function get_signed_request(file){
    var xbr = new XMLHttpRequest();
    xbr.open("GET", "/sign_s3?file_name="+file.name+"&file_type="+file.type);
    xbr.onreadystatechange = function(){
        if(xbr.readyState === 4){
            if(xbr.status === 200){
                var response = JSON.parse(xbr.responseText);
                upload_file(file, response.signed_request, response.url);
            }
            else{
                alert("Could not get signed URL.");
            }
        }
    };
    xbr.send();
}
/*
   Function called when file input updated. If there is a file selected, then
   start upload procedure by asking for a signed request from the app.
*/
function init_upload(){
    console.log("here");
    var files = document.getElementById("file_input").files;
    var file = files[0];
    if(file == null){
        alert("No file selected.");
        return;
    }
    get_signed_request(file);
}
/*
   Bind listeners when the page loads.
*/
(function() {
    document.getElementById("file_input").onchange = init_upload;
    //document.getElementById("file_input").addEventListener("click", function(){   console.log('Hello '); })
})();

  </script>
    <footer>
      <% include partials/footer %>
    </footer>
  </body>
</html>
