body {
  padding: 50px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial,sans-serif;
  color: #f05f40;
}

a {
  color: #f05f40;
}

div.wx {
  color: #fff;
}

.itembg {
background-color: rgba(150,150,150,0.5);
margin: 10px;
text-align: center;
padding: 20px;
border: 1px solid #f05f40;
}

.show {
  margin: 0 auto;
  width: 500px;
}

.weather {
  background-color: rgba(150,150,150,0.5);
  margin: 10px;
  text-align: right;
  border: 1px solid #f05f40;
  width: 430px;
  padding: 20px;
}


footer {
  margin: 30px;
  color: white;
}
