<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body style="background-color:#f05f40;" class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

    <div class="container">
      <div class="header-content-inner">
      <h1 align="center">Your Outfits</h1><hr>
        <% outfits.forEach(function(outfit) { %>
        <form method="POST" action="/outfits/<%= outfit._id %>?_method=DELETE">
          <div class="col-sm-6 col-md-3 set-height">
          <h3><a href="/outfits/<%= outfit._id %>"><%= outfit.name %></a></h3>
          <h4>Items:</h4>
          <% outfit.items.forEach(function(item){ %>
            <img src="<%= item.avatar_url %>">
          <% }) %>
          <button type="submit" class="btn btn-xs btn-danger">Delete</button>
          </div>
        </form>

        <% }) %>
        <a href="/outfits/new" class="btn btn-primary">New</a>
      </div>
    </div>
  </section>


  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
