<!DOCTYPE html>
<html>
<head>
  <title>Create Outfit</title>
</head>
<body>
<h3>Create an Outfit</h3>
<form method="post" action="/outfits">
    <div class="form-group">
      <label for="title">Name of Outfit:</label>
        <input class="form-control" type="text" maxlength="20" name="name" id="name">
    </div>
    <input class="btn btn-primary" id='send' type="submit">
</body>
</html>
