<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3><b>Name: </b><%= outfit.name %></h3>


      <p>Add items to oufit</p>
      <% items.forEach(function(item) { %>
        <form method="POST" action="/items/<%= item._id %>?_method=DELETE">
          <div class="col-sm-6 col-md-3 set-height">
              <img src="<%= item.avatar_url %>">
          </div>
        <form method="post" action="/outfits">
           <button class="btn btn-primary" id='send' type="submit">Add to outfit</button>
        </form>
        <% }) %>
    </div>

    <a href="/outfits" class="btn btn-primary">Back</a>
    <a href="/outfits<%= outfit._id %>/edit" class="btn btn-danger">Edit</a>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
